/* src/pages/Home.css */

.home-section {
  padding: 40px;
  text-align: center;
  background-color: #0c0e27; /* Dark background */
  color: white;
}

.home-section h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.home-section h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.home-section h4 {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.home-section p {
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

/* --- Mobile Styles --- */
@media (max-width: 768px) {
  .home-section {
    padding: 20px; /* Reduce padding on mobile */
  }

  .home-section h2 {
    font-size: 1.5em; /* Smaller font size for mobile */
  }

  .home-section h3 {
    font-size: 1.2em; /* Smaller font size for mobile */
  }

  .home-section h4 {
    font-size: 1em; /* Smaller font size for mobile */
  }
}